# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: build

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.0
          - 2.7
          - 2.6
          - 2.5
        gemfile:
          # Cucumber 3.2+
          - Gemfile-rails.5.0.x
          - Gemfile-rails.5.1.x
          - Gemfile-rails.5.2.x
          # Cucumber 4.1+
          - Gemfile-rails.5.2.x-cukes-4
          - Gemfile-rails.6.0.x
          # Cucumber 5.3+
          - Gemfile-rails.5.2.x-cukes-5
          - Gemfile-rails.6.0.x-cukes-5
          # Edge
          - Gemfile-rails.edge
        exclude:
        - gemfile: Gemfile-rails.edge
          ruby: 2.6
        - gemfile: Gemfile-rails.edge
          ruby: 2.5

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake
